.users{
    display: flex;
    justify-content: center;
}

.usersMaped{
    padding-top: 50px;
    max-width: 1050px;
    flex-grow: 1;/* растягивает элемент на все ширину, если родитель яв flex */
}

.buttonDiv{
    display: flex;
    justify-content: center;
}

.button{
    padding: 11px 16px;
    line-height: 17.52px;
    background-color: initial;
    border: 1px solid #ddd;
    color: #ddd;
    box-shadow: #ddd;
    box-shadow: 1px 1px 5px #ddd;
}

.button:active {
    color: #610202; /* Цвет текста при нажатии */
    border-color: #720404; /* (необязательно) Изменить цвет границы */
    box-shadow: -2px -2px 5px #ddd;
}

.ListPages{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 800px;
}

.ItemPages{
    padding: 5px;
    font-size: large;
}

.ItemPagesSelected{
    padding: 5px;
    font-weight: bold; /* Жирный шрифт */
    font-size: large;
    color: aqua;
}

.img{
  position: absolute; /* или fixed, если нужно, чтобы картинка оставалась на месте при прокрутке */
  top: 0; /* Расположить в верхнем углу (или настройте по необходимости) */
  left: 0;
  z-index: 9999; /* Убедитесь, что значение выше, чем у остальных элементов */
  width: 100%; /* Ширина 100% от ширины окна */
  height: 100%; /* Высота 100% от высоты окна */
}

.imgLoader{
  width: 80px; /* Ширина 100% от ширины окна */
  height: 80px; /* Высота 100% от высоты окна */
}