.nav{
    grid-area: n;
    background-color: #121212;
    border: 1px solid #ccc;
}

.ulNav{
    list-style-type: none;
    font-weight: bold; /* Жирный */
    text-align: left;
    padding: 10px; 
}

.ulNav a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fbfbfb;
    background-color: #1e1e1e;
    border-radius: 10px; /* Закругление краев */
    transition: background-color 0.3s ease;
    margin-bottom: 1em;
}

.ulNav .activeItemNav{
    background-color: #3f3f3f;
    color: #bdbdbd;
    text-decoration: none;
}