.nav{
  
  grid-area: nav;
  background-color: #121212;
  border-right: 1px solid #ccc;
  z-index: 1000; /* Чтобы быть поверх всего */
}


.ulNav{
    list-style-type: none;
    font-weight: bold; /* Жирный */
    text-align: left;
    padding: 10px; 
    margin-top: 1em;
}

.ulNav a{
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fbfbfb;
    background-color: #1e1e1e;
    border-radius: 10px; /* Закругление краев */
    transition: background-color 0.3s ease;
    margin-bottom: 1em;
}

.ulNav .activeItemNav{
    background-color: #3f3f3f;
    color: #bdbdbd;
    text-decoration: none;
}
