.appWrapper{
    display: grid;

    grid-template-areas: 
    "h h"
    "n cont"
    "f f";

    grid-template-rows: 80px 1fr 60px;
    grid-template-columns: 2fr 10fr;
    color: #fbfbfb;
}

ul a:hover{
  color: #711f31; /* Цвет при наведении */
  text-decoration: none; 
}

div a:hover{
  color: #711f31; /* Цвет при наведении */
  text-decoration: none; 
}